/*gereral syle */
*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
   font-family: Arail,sans-serif;
    line-height: 1.4;
    color: #678;
    overflow-x: hidden ;  
}

/*utility style */

.container{
    max-width: 1100px;
    margin: auto;
    
}

.text-primary{
    color: #fff;
}

.text-secondary{
    color: maroon; 
}


.bg-color{
    
    background: #FFD700;
    color: #333;
}

.bg-dark{
    
    background:blue;
    color: #fff;
}

/*navbar */

#navbar{
  display:flex;
    justify-content: space-between;
    background: #333;
    color:#fff;
    padding:0.8rem 8rem; 
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #fff ;
    border-top: 3px solid #fff ;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;   
}

#navbar h2 a{
 color:#FFD700;
    text-decoration: none;
   
}

#navbar li a {
    
    text-decoration: none;
    color:#fff;
    padding:1rem;
    font-size:1.3 rem;
    margin: 0 0.5 rem;
    border-radius:5px;
    transition: background-color 0.3s;
}

#navbar li a:hover{
    
   background-color:#3693ff; 
    
}

/* showcase area */
/* showcase area */
/* showcase area */


#showcase{
    background: url(../img/homepagecover.JPG)  no-repeat center/cover;
    height: 89vh;
    display: flex;
    border-bottom: 3px solid #fff ;

}


.leftside { width: 50%; height: auto; overflow: hidden; }

.rightside{ width: 65%; height: 300px; color: white; text-align: center;  
    margin-top: 140px;
    padding: 40px;}

.rightside h2{ text-align: center;
    color: #ffff33;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase; } 

.rightside p {  
    font-size: 30px; padding: 20px; }

.rightside button{   font-size: 30px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 15px 20px ; 
}



.rightside button:hover{
      background: linear-gradient(57deg, #1E4D92, #00C6A7 );   
}



/* about section */

#about{
   padding: 5rem 0; 
    background: url(../img/10.jpg)  no-repeat center/cover;
    height: 89vh; 
     border-bottom: 3px solid #fff ;
    


}

#about h2, #service h2{
    
    text-align: center;
    font-size:3rem;
    color: #000;
    margin-bottom: 3rem;
}

#about h3{
    
  font-size:2rem;
    color: #000;
 margin-bottom: 1rem;     
}

#about p.lead{
 margin-bottom: 1rem;
    color: #000;

}

#about .about-content{
    
    display: flex; 
}

#about .about-text,
#about .about-image{
    flex=1;
}

#about .about-text{
    text-align: justify;   
}

#about .about-image img{
    display: blcok;
    margin-left: 4rem;
    width: 100%;
    border-radius: 100%;
    margin-top: auto;
}



/* service html */

#service {
    padding: 5rem 0; 
    background: url(../img/10.jpg)  no-repeat center/cover;
    height: 89vh; 
    border-bottom: 3px solid #fff ;
}

#service h3{
    
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #000;
    
}

#service .boxes{
    display: flex;
    color: #000;
}

#service .box{
   background: #fff;
    flex: 1;
    padding: 2 .3rem;
    margin: 3 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.3rem;   
    color: #000;
}

#service .box i{
    
    color: #fff;
    padding:  .3rem;
    background: #2693ff;
    border-radius: 20% ;
    margin: 1 1rem;
    margin-bottom: 2 .30rem;
    color: #000;
}


/* testimonial */
.skille{  
    background: url(../img/10.jpg)  no-repeat center/cover;
    height: 100vh; 
    border-bottom: 3px solid #fff ;
}


#skill {
    padding: 0 0;
    font-family:Gotham, "Helvetica Neue",
    Helvetica, Arial, sans-serif; 
    text-align:center; 
    width:80%; 
    margin:auto;     
}


.skillbar {
	position:relative;
	display:block;
	margin-bottom:20px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	transition:1s linear;
	transition-property:width, background-color;
}
.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
}
.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:25px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:#000;
}
h1 {  font-family: Helvetica, Arial, sans-serif;  text-align: center; 
    font-size:55px;
    margin-top:50px; 
    color:#000;
}



/* contact section */

#contact{
    padding: 5rem 0;
    background: url(../img/10.jpg)  no-repeat center/cover;
    height: 91.5vh;
    border-bottom: 3px solid #fff ;
    
}
#contact h2{
    text-align: center;
    font-size: 3rem;
    
}
#contact h3{
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 0 0rem;
    
}
#contact .form-box{
    background: #fff;
    box-shadow: 5px 15px 25px #d1d1d1;
    border-radius: 15px;  
}
#contact .form-group{
    margin-bottom: 0 0;
}
#contact .form-group label{
     display: blcok; 
     margin-bottom: 0 0;
     width: 80%;
     margin-left: 10%;
     font-size: .8rem;
}

#contact .form-group input,
#contact .form-group textarea{
    
    width: 80%;
    margin-left: 10%;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
}
#contact .form-group textarea{
    font-family: Arial,sans-serif;
    
}


#contact .contact-btn{
    
    width: 80%;
    margin-left: 10%;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border: none;
    display: inline-block;
    border-radius: 5px;
    background: #3693ff;
    color:#fff;
    margin-bottom: 2rem;
    cursor: pointer;
      
}

#contact .contact-btn:hover{
    
    background: red;
    
}

#contact .form-container{
    
    position: relative;
}

#contact .mail-icon{
    font-size: 1rem;
    background: #3693ff;
    color:#fff;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    position: absolute;
    top:-7%;
    left:0%;  
}


/*footer*/
footer{
   padding:0.6rem; 
border-bottom: 3px solid #fff ;
    
}
footer p{
    text-align: center;
}































































































